anyio==4.14.1
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
colorama==0.4.6
convex==0.7.0
flet==0.85.3
flet-desktop==0.85.3
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
msgpack==1.2.1
numpy==2.5.0
oauthlib==3.3.1
opencv-python==4.13.0.92
pillow==12.2.0
pycparser==3.0
python-dotenv==1.2.2
pyzbar==0.1.9
qrcode==8.2
repath==0.9.0
requests==2.34.2
six==1.17.0
urllib3==2.7.0
waitress==3.0.2
